.main{
    align-items: center;
}

.main-box-count{
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-box-count-children{
    display:flex;
    flex-direction: row;
}

.main-box-count-children p {
    padding: 0 1rem;
}



.main-box-count-onadd{
    height: 40px;
}